userdebug_or_eng(`
  allow hal_wifi_ext wifi_logging_data_file:dir rw_dir_perms;
  allow hal_wifi_ext wifi_logging_data_file:file create_file_perms;
')
