userdebug_or_eng(`
  allow logger_app wifi_logging_data_file:dir create_dir_perms;
  allow logger_app wifi_logging_data_file:file create_file_perms;
  set_prop(logger_app, vendor_wlan_logging_prop)
')
