# files
type sscoredump_vendor_data_coredump_file, file_type, data_file_type, mlstrustedobject;
type sscoredump_vendor_data_crashinfo_file, file_type, data_file_type, mlstrustedobject;

# sysfs
type sysfs_sscoredump_level, sysfs_type, fs_type;                  # sscoredump level
type sysfs_sscoredump_subsystem_report_count, sysfs_type, fs_type; # subsystem report_count: per device explicit path
