type ramdump_vendor_data_file, file_type, data_file_type, mlstrustedobject;
type ramdump_vendor_mnt_file, file_type, data_file_type, mlstrustedobject;
type ramdump_vendor_fs, file_type, data_file_type, mlstrustedobject;
