<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2020 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
     package="com.android.cts.splitapp"
     android:targetSandboxVersion="2">

    <!-- The androidx test libraries uses minSdkVersion 14. Applies an overrideLibrary rule here
         to pass the build error, since tests need to use minSdkVersion 4. -->
    <uses-sdk android:minSdkVersion="4" tools:overrideLibrary=
        "androidx.test.runner, androidx.test.rules, androidx.test.monitor, androidx.test.services.storage"/>

    <!-- Remove the CAMERA permission
    <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <!-- Add the VIBRATE permission -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:label="SplitApp"
         android:multiArch="true">
        <!-- Updates to .revision_a.MyActivity -->
        <activity android:name=".revision_a.MyActivity"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                 android:resource="@xml/my_activity_meta"/>
        </activity>
        <activity android:name=".ThemeActivity" android:theme="@style/Theme_Base"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.android.cts.splitapp.intent.THEME_TEST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- Updates to .revision_a.MyReceiver -->
        <receiver android:name=".revision_a.MyReceiver"
             android:enabled="@bool/my_receiver_enabled"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".LockedBootReceiver"
             android:exported="true"
             android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Updates to .revision_a.MyProvider -->
        <provider android:name=".revision_a.MyProvider"
             android:authorities="com.android.cts.splitapp"
             android:exported="true"
             android:directBootAware="true">
        </provider>

        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
         android:targetPackage="com.android.cts.splitapp"/>

</manifest>
