on boot && property:vendor.all.modules.ready=1 && property:ro.boot.revision=DVT1.0
    wait /sys/bus/i2c/devices/i2c-cs40l26a-dual/calibration/redc_cal_time_ms

    mkdir /mnt/vendor/persist/haptics 0770 system system
    chmod 770 /mnt/vendor/persist/haptics
    chmod 440 /mnt/vendor/persist/haptics/cs40l26_dual.cal
    chown system system /mnt/vendor/persist/haptics
    chown system system /mnt/vendor/persist/haptics/cs40l26_dual.cal

    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/calibration/f0_stored
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/calibration/q_stored
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/calibration/redc_stored
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/default/vibe_state
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/default/num_waves
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/default/f0_offset
    chown system system /sys/bus/i2c/devices/i2c-cs40l26a-dual/default/owt_free_space

    enable vendor.vibrator.cs40l26-dual

service vendor.vibrator.cs40l26-dual /vendor/bin/hw/android.hardware.vibrator-service.cs40l26-dvt-dual
    class hal
    user system
    group system input

    setenv INPUT_EVENT_NAME cs40l26_dual_input
    setenv PROPERTY_PREFIX ro.vendor.vibrator.hal.
    setenv CALIBRATION_FILEPATH /mnt/vendor/persist/haptics/cs40l26_dual.cal

    setenv HWAPI_PATH_PREFIX /sys/bus/i2c/devices/i2c-cs40l26a-dual/
    setenv HWAPI_DEBUG_PATHS "
        calibration/f0_stored
        calibration/redc_stored
        calibration/q_stored
        default/vibe_state
        default/num_waves
        default/f0_offset
        default/owt_free_space
        "

    disabled
