<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2021 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.bedstead.nene.test"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- TODO(b/194671091): Remove once our minimum supported version is R+ -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="Nene Tests"
        android:appComponentFactory="com.android.eventlib.premade.EventLibAppComponentFactory">

        <uses-library android:name="android.test.runner" />

        <activity android:name="com.android.bedstead.nene.test.Activity" android:exported="false"/>

    </application>
    <!-- TODO(b/194670711): Drop overrideLibrary when we bump version to 28 -->
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27" tools:overrideLibrary="com.android.bedstead.testapp.library, com.android.bedstead.testapp.testapps"/>
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.android.bedstead.nene.test"
                     android:label="Nene Tests" />
</manifest>
