type mm_logd_vendor_data_file, file_type, data_file_type;
type debugfs_page_owner, debugfs_type, fs_type;
type proc_watermark_boost_factor, fs_type, proc_type;
type proc_min_free_kbytes, fs_type, proc_type;
type proc_lowmem_reserve_ratio, fs_type, proc_type;
