allow vendor_init proc_watermark_boost_factor:file w_file_perms;
allow vendor_init proc_lowmem_reserve_ratio:file w_file_perms;
allow vendor_init proc_min_free_kbytes:file w_file_perms;
