set_prop(adbd, ctl_mdnsd_prop);

allow adbd self:vsock_socket { create_socket_perms_no_ioctl listen accept };
allow adbd unlabeled:vsock_socket rw_socket_perms_no_ioctl;
