system_restricted_prop(vendor_qemu_adb_prop)
vendor_restricted_prop(vendor_qemu_prop)
vendor_restricted_prop(vendor_net_wlan0_prop)
vendor_restricted_prop(vendor_net_eth0_prop)
vendor_restricted_prop(vendor_net_radio0_prop)
vendor_restricted_prop(vendor_net_share_prop)
vendor_restricted_prop(vendor_net)
vendor_restricted_prop(vendor_build_prop)
vendor_restricted_prop(vendor_wlan_versions_prop)
