<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2017 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.translation.cts">

    <application android:label="Translation TestCase">
        <uses-library android:name="android.test.runner"/>

        <activity android:name=".SimpleActivity"
                  android:label="SimpleActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".VirtualContainerViewActivity"
                  android:label="VirtualContainerViewActivity"
                  android:exported="true">
        </activity>
        <activity android:name=".CustomTextViewActivity"
                  android:label="CustomTextViewActivity"
                  android:exported="true">
        </activity>

        <service android:name=".CtsTranslationService"
                 android:label="CtsTranslationService"
                 android:permission="android.permission.BIND_TRANSLATION_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.service.translation.TranslationService"/>
            </intent-filter>
            <meta-data
                android:name="android.translation_service"
                android:resource="@xml/translation_config">
            </meta-data>
        </service>
        <service android:name=".CtsContentCaptureService"
                 android:label="CtsContentCaptureService"
                 android:permission="android.permission.BIND_CONTENT_CAPTURE_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.service.contentcapture.ContentCaptureService"/>
            </intent-filter>
        </service>

        <!-- TODO(b/184617863): move to its own apk -->
        <service android:name=".CtsTestIme"
                 android:label="Test IME"
                 android:permission="android.permission.BIND_INPUT_METHOD"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                       android:resource="@xml/simple_ime"/>
        </service>
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="android.translation.cts"
                     android:label="CTS tests of android.translation">
    </instrumentation>

</manifest>
