allow hal_vibrator_default input_device:dir search;
allow hal_vibrator_default input_device:chr_file rw_file_perms;

allow hal_vibrator_default mnt_vendor_file:dir search;
allow hal_vibrator_default persist_file:dir search;
r_dir_file(hal_vibrator_default, persist_haptics_file)

get_prop(hal_vibrator_default, vendor_vibrator_prop);

# Allow vibrator HAL's default implementation to use vendor-binder service
vndbinder_use(hal_vibrator_default);
