# Write the dark theme magic to /misc partition.
service vendor.theme_set /vendor/bin/misc_writer --set-dark-theme
    disabled
    oneshot

# Set dark boot flag when the device is provisioned.
on property:persist.sys.device_provisioned=1
    start vendor.theme_set

# Set or clear the warm reset flag upon the change of system property. The flag itself is set
on init && property:ro.boot.slot_successful=no
    write /sys/module/msm_poweroff/parameters/warm_reset 1

# by writing a sysfs file; and the file will be read by kernel.
on property:ota.warm_reset=1
    write /sys/module/msm_poweroff/parameters/warm_reset 1

on property:ota.warm_reset=0
    write /sys/module/msm_poweroff/parameters/warm_reset 0

on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

# Migrate tasks again in case kernel threads are created during boot
on property:sys.boot_completed=1
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks
