type securedpud, domain;
type securedpud_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(securedpud)

allow securedpud ion_device:chr_file rw_file_perms;
allow securedpud tee_device:chr_file rw_file_perms;
