# Aux camera allow/excludelist prop
system_vendor_config_prop(vendor_persist_camera_prop)

# Recovery update
system_public_prop(recovery_update_prop)
